.prime-card{
    margin: 10px;
}

.prime-lives-card{
    border-left: 4px solid rgb(111, 111, 147);
}

.prime-outreach-card{
    border-left: 4px solid rgb(65, 128, 88);
}

.prime-state-card{
    border-left: 4px solid rgb(155, 150, 87);
}

.prime-o2-cylinder-card{
    border-left: 4px solid rgb(116, 147, 85);
}

.prime-auto-ambulance-card{
    border-left: 4px solid rgb(211, 177, 126);
}

.prime-food-packet-card{
    border-left: 4px solid rgb(90, 152, 151);
}

.prime-icon-style{
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin-right: 10px;
    padding: 7px;
    border-radius: 5px;
}